@import '../../vars.scss';

.map-marker {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  font-family: 'Source Sans Pro', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: $dark-blue;
  text-decoration: none;
}

.map-marker__image {
  height: 3.5rem;
  width: 3.5rem;
  overflow: hidden;
  border-radius: 2px;
}

.map-marker__info__name {
  font-size: 1.25em;
  font-weight: 600;
}
